@page
@model IndexModel
@{
    ViewData["Title"] = "MS Graph API Transfer Note";
}

<br />
<br />

<form method="post" asp-action="Result" asp-controller=TargetWorkloadId>
 <center>
    <div>
        <label for="endpoint">Insert an endpoint (e.g. "me/manager"):</label>
        <input type="text" id="endpoint" name="endpoint" />
    </div>
    <br /><div>
        <button type="submit">Submit</button>
            </div>
</center>   
            </form>